{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'catalogue:index' %}">{% trans "Shop" %}</a>
        </li>
        <li class="active">{{ summary }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <h4>{% trans "Show results for" %}</h4>
        <div class="side_categories">
            <ul class="nav nav-list">
                {% for tree_category, info in tree_categories %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% endblock content %}
