venv
_venv
*.pyc
staticfiles
.DS_Store
.cache
.idea/
/.idea/*
.env
env
# Database (this should not be required - should be using Postgres)
db.sqlite3

# Text backup files
*.bak

# Media files will be served from Amazon S3 on Heroku
/baggysoapshop/media/
/baggysoap.log

holdingPen.txt