django<2.1

boto3
Babel
dj-database-url
django-appconf
django-compressor
django-extra-views
django-haystack
django-oscar
#django-oscar-paypal
-e git+https://github.com/Arussil/django-oscar-paypal.git#egg=django-oscar-paypal
django-phonenumber-field
django-storages
django-tables2
django-treebeard
django-widget-tweaks
factory-boy
Faker
gunicorn
mock
pbr
phonenumbers
phonenumberslite
Pillow
pip-tools
psycopg2-binary
purl
pycountry
python-dateutil
pytz
rcssmin
rjsmin
six
sorl-thumbnail
text-unidecode
Unidecode
whitenoise
