boto3
Babel
dj-database-url
django
django-appconf
django-compressor
django-extra-views
django-haystack
django-nose
django-oscar
django-oscar-paypal
django-phonenumber-field
django-storages
django-tables2
django-treebeard
django-widget-tweaks
factory-boy
Faker
gunicorn
mock
pbr
phonenumbers
phonenumberslite
Pillow
pip-tools>=5.5.0
psycopg2-binary
purl
pycountry
pylint
pylint-django
python-dateutil
pytz
rcssmin
rjsmin
six
sorl-thumbnail
text-unidecode
Unidecode
whitenoise
