django<2.1
Babel
dj-database-url
django-appconf
django-compressor
django-extra-views
django-haystack
django-oscar
django-phonenumber-field
django-tables2
django-treebeard
django-widget-tweaks
factory-boy
Faker
gunicorn
mock
pbr
phonenumbers
phonenumberslite
Pillow
pip-tools
psycopg2-binary
purl
pycountry
python-dateutil
pytz
rcssmin
rjsmin
six
sorl-thumbnail
text-unidecode
Unidecode

