{% extends 'oscar/catalogue/detail.html' %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% if product.parent == None %}
        {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
            <li>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
            <li class="active">{{ product.title }}</li>
        {% endwith %}
    {% else %}
        {% with category=product.parent.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
            <li>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ product.parent.get_absolute_url }}">{{ product.parent.title }}</a>
            </li>
            <li class="active">{{ product.title }}</li>
        {% endwith %}
    {% endif %}

    {% get_back_button as backbutton %}
    {% if backbutton %}
        <li class="pull-right">
            <a href="{{ backbutton.url }}">
                <i class="icon-arrow-left"></i> {{ backbutton.title }}
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% block product_info %}
<div class="sub-header">
    <h2>{% trans "Product Information" %}</h2>
</div>
<table class="table table-striped">
    {% if product.upc %}
    <tr>
        <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
    </tr>

    {% purchase_info_for_product request product as session %}
    {% if session.price.exists %}
        <tr>
            <th>{% trans "Price" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
        </tr>
        <tr>
            <th>{% trans "Availability" %}</th>
            <td>{{ session.availability.message }}</td>
        </tr>
    {% endif %}
    {% for av in product.attribute_values.all %}
        <tr>
            <th>{{ av.attribute.name }}</th>
            <td>{{ av.value_as_html }}</td>
        </tr>
    {% endfor %}
    {% iffeature "reviews" %}
        <tr>
            <th>{% trans "Number of reviews" %}</th>
            <td>{{ product.num_approved_reviews }}</td>
        </tr>
    {% endiffeature %}
</table>
{% endblock %}

{% block product_main %}
<div class="col-sm-6 product_main">
    {% comment %}
    This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that
    pops out when clicked.  A bit like the Django-Debug-Toolbar button
    {% endcomment %}
    {% if user.is_staff %}
        <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
    {% endif %}

    {% if product.is_child %}
        <h1>{{ product.parent.get_title }} ({{ product.get_title }})</h1>
    {% else %}
        <h1>{{ product.get_title }}</h1>
    {% endif %}

    {% block product_stock_record %}
        {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
    {% endblock %}

    {% iffeature "reviews" %}
        {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
    {% endiffeature %}

    <hr/>

    {% if not product.is_parent %}
        {% block product_basket_form %}
            {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
        {% endblock %}
    {% else %}
        {% block variants %}
            <h2>{% trans 'Bag options:' %}</h2>
            {% for child in product.children.all %}
                {% purchase_info_for_product request child as child_session %}
                {% if child_session.availability.is_available_to_buy %}
                    <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endif %}
</div><!-- /col-sm-6 -->
{% endblock %}