{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}

{% block checkout_title %}{% trans "Payment method:" %}{% endblock %}

{% block payment_details_content %}
    {% if anon_checkout_allowed or request.user.is_authenticated %}
        <a href="{% url 'paypal-direct-payment' %}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px;"></a>
        Payment Checkout (PayPal and All Major Credit Cards Accepted)
        <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" target="_blank">What is PayPal?</a>
        <br /><br />
        <p>You will be redirected to the PayPal website. This will not place the order - you will have to opportunity to preview the order before placing it.</p>
    {% endif %}
{% endblock payment_details_content %}